.projects-page p {
    width: 60%;
    margin: 25px auto;
}

@media screen and (max-width: 1080px) {
    .projects-page p {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    .projects-page p {
        width: 90%;
    }
}