.site-collapsible-container {
    margin: 20px auto;
}

.collapsible-icon {
    float: right;
    margin-right: 10px 
}

.site-collapsible {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    background: black;
    color: white;
    user-select: none;
}

.site-collapsible-content {
    border: 1px solid black;
}

.site-collapsible,
.site-collapsible-content {
    padding: 10px;
}