.antd-cards-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.antd-cards-container .site-card-container {
    grid-column: span 2;
}

.antd-cards-container,
.antd-cards-container .site-card-container {
    width: 95%;
    margin: 20px auto;
}

@media screen and (max-width: 1080px) {
    .antd-cards-container .site-card-container {
        grid-column: span 3;
    }
}

@media screen and (max-width: 640px) {
    .antd-cards-container .site-card-container {
        grid-column: span 6;
    }
}