.home-header {
    position: relative;
    text-align: center;
}

.home-header-image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.home-header-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
}

.home-header p {
    font-size: 16px;
}

.home-header h2,
.home-header p {
    color: white;
}

.home-header button {
    color: black;
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.home-portfolio {
    margin: 25px auto 0px;
}

@media screen and (max-width: 1080px) {
    .home-header-image {
        height: 50%;
    }

}

@media screen and (max-width: 640px) {
    .home-portfolio .site-col-6 {
        grid-column: span 12;
    }

}