.about-title {
    font-weight: 800;
    text-transform: uppercase;
    margin: 20px;
}

.about-introduction {
    margin: 25px auto;
}

.about-image {
    margin: auto;
    width: 50%;
}

.about-paragraph {
    text-align: left;
    font-size: 16px;
    margin: auto 0px;
}

.about-contact {
    padding: 25px;
}

.about-contact h1,
.about-contact p {
    font-weight: 900;
}

.contact-card {
    margin: 25px auto;
}

.about-skills-container {
    
    padding: 35px 0px;
    min-height: 420px;
}

.about-description {
    padding: 50px 25px;
}

.about-description,
.about-contact {
    background: rgb(249, 249, 249);
}

@media screen and (max-width: 1080px) {
    
    .about-image {
        width: 75%;
    }

    .about-paragraph {
        font-size: 14px;
    }

    .about-description .site-col-4 {
        grid-column: span 12;
        margin: 25px 0px;
    }

    .about-description .site-col-4  h3{
        font-size: 20px;
    }

}

@media screen and (max-width: 640px) {

    /* ABOUT INTRODUCTION */
    .about-image {
        width: 50%;
    }

    .about-paragraph {
        margin: 25px auto;
        font-size: 13px;
    }

    /* CONTACT */
    .about-contact .site-flex {
        display:block;
    }

    .about-contact h1 {
        display:block;
        font-size: 20px;
    }

    .contact-card {
        margin: 15px auto;
    }

    /* SKILLS */
    .about-skills-container {
        min-height: 590px;
    }

}

@media screen and (max-width: 480px) {

}