.slideshow-container {
    position: relative;
    vertical-align: middle;
}

/* Next & previous buttons */
.slideshow-button {
    color: black;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 10px;
    margin-top: -50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.right {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.caption-container {
    text-align: center;
    padding: 2px 16px;
}

.caption-container,
.slideshow-button:hover {
    background: black;
}

.caption-container,
.slideshow-button:hover {
    color: white;
}

.slideshow-row:after {
    content: "";
    clear: both;
}

.slideshow-column {
    float: left;
    opacity: 0.6;
}

.slideshow-column:hover,
.slideshow-button {
    opacity: 1;
}
