main {
    text-align: center;
    min-height: 80vh;
    padding: 72px 0px 25px;
    background: white;
}

.components-page-container p {
    width: 60%;
    margin: 25px auto;
}

@media screen and (max-width: 1080px) {
    .components-page-container p {
        width: 90%;
    }
}